@page "/"

<PageTitle>Úvodek</PageTitle>

<div Class="d-flex flex-wrap gap-4" Elevation="0">
   
    <MudCard Class="mb-4 flex-auto">
        <MudCardMedia Image="images/christopher-burns-Wiu3w-99tNg-unsplash.jpg" Height="200" />
        <MudCardContent>
            <MudText Typo="Typo.h5" Class="pb-2">Praesent id justo in neque</MudText>
            <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
            <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Více informací</MudButton>
        </MudCardActions>
    </MudCard>

    <MudCard Class="mb-4 flex-auto">
        <MudCardMedia Image="images/AdobeStock_302471776.jpeg" Height="200" />
        <MudCardContent>
            <MudText Typo="Typo.h5">Morbi scelerisque luctus</MudText>
            <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
            <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
        </MudCardContent>
        <MudCardActions>
          <MudButton Variant="Variant.Text" Color="Color.Primary">Více informací</MudButton>
        </MudCardActions>
    </MudCard>

    <MudCard Class="mb-4 flex-auto">
        <MudCardMedia Image="images/AdobeStock_173842177.jpeg" Height="200" />
        <MudCardContent>
            <MudText Typo="Typo.h5">Vestibulum fermentum tortor</MudText>
            <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
            <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
        </MudCardContent>
        <MudCardActions>
         <MudButton Variant="Variant.Text" Color="Color.Primary">Více informací</MudButton>
        </MudCardActions>
    </MudCard>
</div>
